      /* Styles pour le mode sombre */
      .dark-mode {
        background-color: #222; /* Couleur de fond sombre */
        color: #fff; /* Couleur du texte en mode sombre */
      }

      .dark-mode header {
        background-color: #111; /* Couleur de fond du header en mode sombre */
      }

      .dark-mode nav {
        background-color: #444; /* Couleur de fond de la barre de navigation en mode sombre */
      }

      .dark-mode nav ul a {
        color: #fff; /* Couleur du texte des liens en mode sombre */
      }

      .dark-mode .container {
            color: #fff; /* Couleur du texte du contenu principal en mode sombre */;
    }

      .dark-mode section {
        background-color: #252424; /* Couleur de fond sombre pour les sections */
        color: #fff; /* Couleur du texte en mode sombre pour les sections */
        box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1); /* Ombre légère en mode sombre */
      }

      .dark-mode section h2 {
        color: #fff; /* Couleur du titre en mode sombre */
      }

      .dark-mode section ul li {
        color: #ddd; /* Couleur du texte des éléments de liste en mode sombre */
      }
            /* Styles pour le mode sombre */
            .toggleDarkButton {
                background-color: black;
                color: white;
              }
        
              .toggleLightButton {
                background-color: white;
                color: black;
              }
        
              .toggleDarkButton::after {
                content: "\2600"; /* Symbole du soleil (code Unicode complet) */
                margin-left: 5px;
              }
        
              .toggleLightButton::after {
                content: "\1F319"; /* Symbole de la lune (code Unicode complet) */
                margin-left: 5px;
              }

      /* ------------------- MOBILE RESPONSIVE --------------------- */
      @media (max-width: 768px) {
        header .hamburger {
          display: block; /* Afficher le bouton sur les petits écrans */
        }

        header {
          padding: 10px;
          z-index: 1;
        }

        header h1 {
          font-size: 30px;
        }

        nav {
          display: none;
          width: 100%; /* Réglez la largeur à 100% pour remplir la largeur de l'écran */
        }

        img {
          display: none;
        }

        .container {
            width: 100%;
        }
      }
